*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    position: absolute;
    height: 100%;
    width: 100%;
}

aside
{
    background: #90EE90;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 250px;
}
ul
{
    list-style: none;
}
header
{
    background: #FF0;
    height: 60px;
    left: 250px;
    width: calc(100% - 250px);
    display: flex;
    flex-direction: row;
    align-items: center;
    right: 0;
    position: fixed;
    text-align: center;
    top: 0;
    z-index: 99;
    padding: 5px;

}
.routeBar
{
    display: flex;
    align-items: center;
    background: #ff76d6;
    height: 40px;
    left: 250px;
    width: calc(100% - 250px);
    right: 0;
    position: fixed;
    text-align: center;
    top: 60px;
    z-index: 99;

}
.container
{
    top: 100px;
    left: 250px;
    height: calc(100% - 100px);
    width: calc(100% - 250px);
    position: relative;
    text-align: center;
    overflow-y: scroll;
}

img
{
    height: 100px;
    width: 100%;
}

.headerContainerBig
{
    width: 100%;
    height: 40px;
    position: relative;
}

.searchBar
{
    width: 100%;
    height: 40px;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    border: solid #222222;
}

.searchButton
{
    display: flex;
    position: absolute;
    font-size: 20px;
    top: 4px;
    right: 5px;
    background: red;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.headerContainerSmall
{
    width: 80px;
    height: 40px;
}

.profileImage
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.nav-header
{
    height: 100px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoImage
{
    width: 80px;
    height: 80px;
}