*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}
body
{
    position: absolute;
    height: 100%;
    width: 100%;
}

aside
{
    background: #FAFAFA;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 250px;
    box-shadow: 0px 5px 15px -4px #888888;
}
ul
{
    list-style: none;
}
header
{
    background: #FAFAFA;
    height: 60px;
    left: 250px;
    width: calc(100% - 250px);
    display: flex;
    flex-direction: row;
    align-items: center;
    right: 0;
    position: fixed;
    text-align: center;
    top: 0;
    z-index: 99;
    padding: 5px;

}

.headerShadow
{
    position: fixed;
    z-index: 80;
    top: 90px;
    width: 100%;
    box-shadow: 0px 5px 5px -4px #888888;
    background: #FAFAFA;
    height: 10px;
}
.routeBar
{
    display: flex;
    align-items: center;
    background: #FAFAFA;
    height: 40px;
    left: 250px;
    width: calc(100% - 250px);
    right: 0;
    position: fixed;
    text-align: center;
    top: 60px;
    z-index: 99;
    padding: 5px;
    flex-direction: row;
}
.container
{
    top: 100px;
    left: 250px;
    height: calc(100% - 100px);
    width: calc(100% - 250px);
    position: relative;
    text-align: center;
    overflow-y: scroll;
}

img
{
    height: 100px;
    width: 100%;
}

.headerContainerBig
{
    width: 100%;
    height: 40px;
    position: relative;
}

.searchBar
{
    width: 100%;
    height: 40px;
    font-size: 20px;
    padding: 15px 50px 15px 15px;
    border-radius: 10px;
    border: solid 1px #eeeeee;
    transition: 0.5s all;
    color: #424242;
}
.searchBar:focus
{
    outline: 0;
    border-color: #848484;
}

.searchButton
{
    display: flex;
    position: absolute;
    font-size: 20px;
    top: 4px;
    right: 5px;
    background: transparent;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #848484;
}

.headerContainerSmall
{
    width: 80px;
    height: 40px;
}

.profileImage
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.nav-header
{
    z-index: 100;
    height: 100px;
    background: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoImage
{
    width: 80px;
    height: 80px;
}

.menuOptions
{
    margin-top: 50px;
    color: #424242;
}
.menuOption
{
    position: relative;
    padding: 20px;
    font-size: 18px;
    background: #f5f5f5;
    margin: 10px;
    border-radius: 10px;
}

.menuOptionIcon
{
    margin-right: 10px;
}
.menuOptionDown
{
    display: flex;
    top: 15px;
    position: absolute;
    right: 15px;
    background: transparent;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.route
{
    display: flex;
    flex-direction: row;
}
.routeLabel
{
    font-size: 10px;
    background: #f5f5f5;
    color: #424242;
    padding: 10px;
    border-radius: 10px;
    margin-right: 5px;
}